body {
    font-family: Arial, sans-serif;
}
.header {
    text-align: center;
    color: darkgreen;
    font-size: 80px;
}

.brusselshome,
.cornedbeefhome,
.cornbreadhome {
    display: block;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    color: inherit;
    width: 400px;
    height: 50px;
    font-size: 23px;
    line-height: 50px;
    border-radius: 23px; 
}

.brusselshome {
    background: beige;
    border: 2px solid lightblue;
}

.cornedbeefhome {
    background: lightyellow;
    border: 2px solid orange;
}

.cornbreadhome {
    background: rgb(249, 197, 205);
    border: 2px solid red;
}

a   {
  font-size: 25px;
}

.home-button {
  display: inline-block;  
  padding: 12px 30px;
  font-size: 25px;    
  color: blue;
  background-color: lightgrey;
  border: 2px solid black;
  border-radius: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: darkgreen;
    margin: 0;
    width: 100%;
}   

img {
    border-radius: 23px; 
}

.brussel1,
.brussel2,
.brussel3  {
    margin: 0 auto 20px auto;
    padding: 1px 20px;
    border: 2px solid lightblue;
    border-radius: 10px;
    background-color: beige;  
}   

.cornedbeef1,
.cornedbeef2,
.cornedbeef3  {
    margin: 0 auto 20px auto;
    padding: 1px 20px;
    border: 2px solid orange;
    border-radius: 10px;
    background: lightyellow; 
}

.cornbread1,
.cornbread2,
.cornbread3  {
    margin: 0 auto 20px auto;
    padding: 1px 20px;
    border: 2px solid red;
    border-radius: 10px;
    background: rgb(249, 197, 205);                                                  
}
